<header class="navigation-panel">
    <div class="container">
        <img
            src="assets/img/IvanCherkas.png"
            alt="npx-cv-ssr-logo"
            class="logo"
            routerLink="/layout"
        />

        <nav class="navigation-container">
            <ul class="navigation-list">
                @for (link of navigators; track link; let i = $index) {
                    <li class="navigation-list__item">
                        <a
                            routerLink="{{ link.link }}"
                            class="item-link"
                            [routerLinkActive]="['active']"
                        >
                            {{ 'NAVIGATION.LINK.VALUE' + i | translate }}
                        </a>
                    </li>
                }
            </ul>
        </nav>

        <npx-cv-ssr-navigation-panel-burger
            class="navigation-container--mobile"
            [burgerNavigators]="navigators"
        ></npx-cv-ssr-navigation-panel-burger>

        <div class="personal-area">
            <div class="selectors">
                <npx-cv-ssr-language-selector></npx-cv-ssr-language-selector>
                <npx-cv-ssr-dark-mode-selector></npx-cv-ssr-dark-mode-selector>
            </div>
            <div class="logout">
                <npx-cv-ssr-logout-button
                    buttonName="logout"
                ></npx-cv-ssr-logout-button>
            </div>
        </div>
    </div>
</header>
